@import './imports/variables';

@import './imports/_layout';
@import './imports/_typography';

body {
    background-color: #11191f;
}

nav {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 1rem;
    background-color: #11191f;

    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        list-style: none;
    }
}

.text-content {
    p {
        color: #bbc6ce;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 1.5rem;
    }
}

main {
    padding: 80px 0;
}

.screenshot {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.google-play-logo {
    height: auto;
    width: 240px;
}

.logo {
    height: 50px;
}

footer {
    color: #bbc6ce;
}

.xs-none {
    @media (max-width: map-get($breakpoints, "sm")) {
        display: none;
    }
}
.sm-none {
    @media (min-width: map-get($breakpoints, "sm")) {
        display: none;
    }
}

